<form action="{{ url_for('agregar') }}" method="POST">
  <div>
    <label for="ticket">Número de Ticket:</label>
    <input type="number" name="ticket" required>
  </div>

  <div>
    <label for="fecha">Fecha:</label>
    <input type="date" name="fecha" required>
  </div>

  <div>
    <label for="cliente">Nombre del Cliente:</label>
    <input type="text" name="cliente" maxlength="50" required>
  </div>

  <div>
    <label for="usuario">Usuario que crea el informe:</label>
    <select name="usuario" required>
      {% for u in usuarios %}
        <option value="{{ u.CORREO_USUARIO }}">{{ u.CORREO_USUARIO }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="departamento">Departamento:</label>
    <select name="departamento" required>
      {% for d in departamentos %}
        <option value="{{ d.DEPARTAMENTO_ID }}">{{ d.NOMBRE_DEPARTAMENTO }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="extencion">Extensión:</label>
    <input type="number" name="extencion">
  </div>

  <div>
    <label for="tipo_equipo">Tipo de Equipo:</label>
    <select name="tipo_equipo" required>
      {% for e in equipos %}
        <option value="{{ e.EQUIPO_ID }}">{{ e.TIPO_DE_EQUIPO }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="marca">Marca:</label>
    <select name="marca" required>
      {% for m in marcas %}
        <option value="{{ m.MARCA_ID }}">{{ m.NOMBRE_MARCA }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="modelo">Modelo:</label>
    <input type="text" name="modelo" required>
  </div>

  <div>
    <label for="codigo_udla">Código UDLA:</label>
    <input type="number" name="codigo_udla" required>
  </div>

  <div>
    <label for="serie">Serie:</label>
    <input type="text" name="serie" required>
  </div>

  <div>
    <label for="garantia">Garantía:</label>
    <select name="garantia" required>
      {% for g in garantias %}
        <option value="{{ g.ID_GARANTIA }}">{{ g.APLICA_GARANTIA }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="problema">Descripción del Problema:</label>
    <textarea name="problema" required></textarea>
  </div>

  <div>
    <label for="diagnostico">Diagnóstico:</label>
    <textarea name="diagnostico" required></textarea>
  </div>

  <div>
    <label for="recomendacion">Recomendación:</label>
    <textarea name="recomendacion" required></textarea>
  </div>

  <div>
    <label for="estado">Estado:</label>
    <select name="estado" required>
      {% for e in estados %}
        <option value="{{ e.ESTADO_ID }}">{{ e.TIPO_ESTADO }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="persona">Persona que revisa:</label>
    <select name="persona" required>
      {% for u in usuarios %}
        <option value="{{ u.CORREO_USUARIO }}">{{ u.CORREO_USUARIO }}</option>
      {% endfor %}
    </select>
  </div>

  <button type="submit">Guardar Informe</button>
</form>
